<div class="row justify-content-between">
    <div class="col-sm-6">
        <div class="card me-2 shadow">
            <div class="card-header ">
                <div class="d-flex justify-content-between align-items-center">{{sensor1Name}}
                    <span *ngIf="spinner1" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="flex-column justify-content-between">
                            <div class="">
                                <div class="d-flex align-items-center">
                                    <img class="iconFrame" *ngIf="value1Clear['temperature']<limitTemp"
                                        src="../../../assets/images/nuageux.png">
                                    <img class="iconFrame" *ngIf="value1Clear['temperature']>=limitTemp"
                                        src="../../../assets/images/soleil.png">

                                    <div class="d-flex flex-column">
                                        <div class="d-flex flex-row">
                                            <span class="fsVeryBig px-3">{{value1Clear['temperature']| number:'0.0-2'}}
                                            </span>
                                            <div class="fs-1 pt-2">{{value1Clear['temperatureUnit']}}</div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center px-3">
                                            <div class="fsBig">{{ value1Clear['timestamp']| date:'HH:mm'}}</div>
                                            <div class=""></div>
                                            <div class="pt-2 px-3 fs-5">{{ value1Clear['timestamp'] | date}}</div>
                                            <!-- <div>{{ statuses[0]['data'] | json}}</div> -->
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <button class="btn btn-primary" (click)="refresh(sensor1Name)">Refresh</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <ul class="fs-6 ulwithoutDots">
                            <li *ngFor="let itm of value1">{{itm['sensor'] | titlecase}} <span
                                    class="fw-bold text-secondary">{{ ' '+ itm['value']}}</span>{{' '+ itm['unit']}}
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <h5 class="card-title"></h5> -->
                <!-- <p class="card-text">{{ sandBoxVar |json}}</p> -->
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card ms-2 shadow">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">{{sensor2Name}}
                    <span *ngIf="spinner2" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </div>
            </div>
            <div class="card-body">
                <!-- <h5 class="card-title">{{sensor2Name}}</h5> -->
                <div class="row">
                    <div class="col">
                        <div class="flex-column justify-content-between">
                            <div class="">
                                <div class="d-flex align-items-center">
                                    <img class="iconFrame" *ngIf="value2Clear['temperature']<limitTemp"
                                        src="../../../assets/images/nuageux.png">
                                    <img class="iconFrame" *ngIf="value2Clear['temperature']>=limitTemp"
                                        src="../../../assets/images/soleil.png">

                                    <div class="d-flex flex-column">
                                        <div class="d-flex flex-row">
                                            <span class="fsVeryBig px-3">{{value2Clear['temperature']| number:'0.0-2'}}
                                            </span>
                                            <div class="fs-1 pt-2">{{value2Clear['temperatureUnit']}}</div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center px-3">
                                            <div class="fsBig">{{ value2Clear['timestamp']| date:'HH:mm'}}</div>
                                            <div class=""></div>
                                            <div class="pt-2 px-3 fs-5">{{ value2Clear['timestamp'] | date}}</div>
                                            <!-- <div>{{ statuses[0]['data'] | json}}</div> -->
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <a class="btn btn-primary " (click)="refresh(sensor2Name)">Refresh</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <ul class="fs-6 ulwithoutDots">
                            <li *ngFor="let itm of value2">{{itm['sensor'] | titlecase}} <span
                                    class="fw-bold text-secondary">{{ ' '+ itm['value']}}</span>{{' '+ itm['unit']}}
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <p class="card-text">{{ (value2 | json)}}</p> -->
            </div>
        </div>
    </div>
</div>





<!-- <div class="d-flex justify-content-between py-3" >

    <div *ngFor='let item of [1,2,3]' class="card" style="width: 18rem;">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div> -->

<div class="d-flex bordered my-4 justify-content-between">

    <div class="me-4">

        <div class="card shadow mr-2" style="width: 18rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title fs-4">Queries</h5>
                    <div class="spinner-grow" role="status" *ngIf="queryspinner">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

                <div class="flex-row my-1 ">
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn btn-outline-secondary " id="dropdownBasic1" ngbDropdownToggle>
                            {{ formItems.sensor?formItems.sensor:'Select sensor'}}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem *ngFor="let item of sensors"
                                (click)="setFormItems(1,item.name)">{{item.name}}</button>
                        </div>
                    </div>
                    <span class="text-danger fw-bold mx-1" *ngIf="!formItems.sensor">*</span>
                </div>

                <div class="d-inline-flex my-1">
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn btn-outline-secondary" id="dropdownBasic2" ngbDropdownToggle>
                            {{ formItems.queryType?getQueryDesc(formItems.queryType):'Select type'}}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                            <button ngbDropdownItem *ngFor="let item of fetchType"
                                (click)="setFormItems(2,item.name)">{{item.descr}}</button>
                        </div>
                    </div>
                    <span class="text-danger fw-bold mx-1" *ngIf="!formItems.queryType">*</span>
                </div>

                <div class="d-inline-flex my-1">
                    <div class="input-group">
                        <input readonly ngbDatepicker class="form-control" placeholder="yyyy-mm-dd" name="dp"
                            [(ngModel)]="models.from" #d="ngbDatepicker" (ngModelChange)="setPickedDates(1)"
                            [minDate]="yearBeforeToday " [maxDate]="minOfModel(models.to,today)" />
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                            type="button"></button>
                    </div>
                    <span class="text-danger fw-bold mx-1" *ngIf="!formItems.dateFrom">*</span>
                </div>

                <div class="d-inline-flex my-1">
                    <div class="input-group">
                        <input readonly ngbDatepicker class="form-control" placeholder="yyyy-mm-dd" name="dp"
                            [(ngModel)]="models.to" #d2="ngbDatepicker" (ngModelChange)="setPickedDates(2)"
                            [minDate]="models.from" [maxDate]="today" />
                        <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button"><i
                                class="bi bi-calendar3"></i></button>
                    </div>
                    <span class="text-danger fw-bold mx-1" *ngIf="!formItems.dateTo">*</span>
                </div>

                <a class="btn btn-dark" (click)="getValuesByDT()" *ngIf='formItems.queryType=="1"'>Get</a>
                <a class="btn btn-dark" (click)="DownloadCSVByDT()" *ngIf='formItems.queryType=="2"'>Download</a>
            </div>
        </div>
    </div>

    <div class="card shadow col">
        <div class="card-body" >
            <!-- <h5 class="card-title">Card title {{ "2024-01-13 00:30:45"| date }}</h5> -->
            <!-- <p class="card-text" (click)="getValuesByDT()">{{ (rowData  | json)}}</p> -->
            <!-- <p class="card-text">{{ (sandBoxVar | json)}}</p> -->
            <ag-grid-angular 
                style="width: 100%; height: 300px;" 
                class="ag-theme-alpine" 
                [autoSizeStrategy]="autoSizeStrategy"
                [rowData]="rowData"
                [columnDefs]="colDefs">
            </ag-grid-angular>
        </div>


    </div>

</div>

@if (downloadError) {
<div class="fixed-top">
    <ngb-alert #selfClosingAlert type="danger" (closed)="downloadError = ''" class="position-absolute top-0 end-0">{{
        downloadError }}</ngb-alert>
</div>
}