/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";
@import "ag-grid-community/styles/ag-theme-alpine.min.css";

body{
    background-color: lightgray;
}

.main{    
}
.content{
    margin:2em 2em;
    /* padding-bottom: 1em; */
}

.contentWhite{
    margin:2em 2em;
    background-color: white;
    /* padding-bottom: 1em; */
}

.bordered{
    /* border: solid 1px lightgray; */
    border-radius: 10px;
}


.iconFrame{
    width: 130px;
    /* max-width: 50px; */
    background-size: contain;
    
}

.fsBig{
    font-size:2em;
} 

.fsVeryBig{
    font-size: 6em;
    line-height: 1;
}

.ulwithoutDots{
    list-style-type:none;
    padding-left: 0.5em;
}
